<h1>Head to Head Records - <%= @league.name %></h1>

<p>
  <%= link_to "Back to League", league_path(@league) %> |
  <%= link_to "Lifetime Records", lifetime_records_league_path(@league) %>
</p>

<% if @head_to_head_records.any? %>
  <table>
    <thead>
      <tr>
        <th>Manager</th>
        <th>Opponent</th>
        <th>Record</th>
        <th>Win %</th>
        <th>Streak</th>
      </tr>
    </thead>
    <tbody>
      <% @head_to_head_records.each do |record| %>
        <tr>
          <td><%= link_to record.manager.name, manager_path(record.manager) %></td>
          <td><%= link_to record.opponent_manager.name, manager_path(record.opponent_manager) %></td>
          <td><%= record.overall_record %></td>
          <td><%= number_to_percentage(record.win_percentage * 100, precision: 1) %></td>
          <td><%= record.current_streak || "-" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No head to head records calculated yet. Sync some seasons first.</p>
<% end %>
