<h1>Head to Head Records - <%= @league.name %></h1>

<p>
  <%= link_to "Back to League", league_path(@league) %> |
  <%= link_to "Lifetime Records", lifetime_records_league_path(@league) %>
</p>

<% if @head_to_head_records.any? %>
  <table>
    <thead>
      <tr>
        <th>Manager</th>
        <th>Opponent</th>
        <th>Regular Season</th>
        <th>Playoffs</th>
        <th>Overall</th>
      </tr>
    </thead>
    <tbody>
      <% @head_to_head_records.each do |record| %>
        <tr>
          <td><%= record.manager.name %></td>
          <td><%= record.opponent_manager.name %></td>
          <td><%= record.regular_season_record %></td>
          <td><%= record.playoff_record %></td>
          <td><%= record.overall_record %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No head to head records calculated yet. Sync some seasons first.</p>
<% end %>
